.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 25%;
  padding-left: 16px;
}

.search-input {
  height: 40px;
  width: 800px;
  border-radius: 100px;
  background: #f0f2f8;
  border: transparent;
  outline: transparent;
  font-size: 1rem;
  padding-left: 40px;
}
